@use '../abstracts' as *;

.btn {
  color: $color-text;
  font-size: $font-size-default;
  font-family: $font-family;
  padding: 2rem 2rem;
  background: rgba($color-tertiary, 0.08);
  border-radius: 0.8rem;
  border: none;

  &:hover {
    background: rgba($color-tertiary, 0.16);
    cursor: pointer;
  }
}
