@use '../abstracts' as *;

.btn {
  color: $color-text;
  font-size: $font-size-default;
  font-family: $font-family;
  // padding: 2rem 2rem;
  background: rgba($color-tertiary, 0.08);
  border-radius: 0.8rem;
  border: 4px solid transparent;
  height: 5.6rem;
  transition: all 0.2s ease;
}

.btn-dark {
  &:hover {
    background-color: $color-btn-dark-active-hover;
    cursor: pointer;
  }

  &:focus-visible,
  &:focus {
    background-color: $color-btn-dark-focus;
    outline: none;
  }

  &:active {
    background-color: $color-btn-dark-active-hover;
    border: $border-btn-dark-pressed;
  }
}

.btn-light {
  background-color: $color-tertiary;
  color: $color-primary;
  cursor: pointer;

  &:hover {
    background: $color-btn-light-hover;
  }

  &:active {
    border: $border-btn-light-pressed;
    background-color: #7ba4fc;
  }

  &:focus,
  &:focus-visible {
    background-color: $color-btn-light-focus;
    outline: none;
  }
}

.icon-btn {
  &:active,
  &:focus,
  &:focus-visible {
    background: $color-icon-btn-pressed;
    outline: none;
  }

  &:hover {
    background-color: $color-icon-btn-hover;
  }
}
