@use 'abstracts' as *;

.input {
  color: $color-text-greyish;
  font-size: $font-size-default;
  font-family: $font-family;
  height: 5.6rem;
  width: 100%;

  padding: 1.5rem;
  background: $color-input-bg;
  border-radius: 8px;
  border: none;
  outline: none;
  transition: all 0.2s ease;

  &::placeholder {
    color: $color-text-greyish;
  }

  &:hover,
  &:focus {
    background: $color-input-bg-hover;
  }
}
