@use 'abstracts' as *;

.comunidade {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;

  &__card {
    width: 49%;
    margin-bottom: 6rem;

    &-editor {
      border-radius: 8px;
      padding: 4rem 2rem 2rem;
      resize: none;
      width: 100%;
    }

    &-info {
      background: $color-card-info-background;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      padding: 3rem;
    }

    &-title {
      color: $color-text;
      font-size: $font-size-card-title;
    }

    &-description {
      color: $color-card-description;
      font-size: $font-size-default;
      margin-top: 2rem;
    }
  }

  &-div1 {
    background: #9aff6b;
  }
  &-div2 {
    background: #6b83ff;
  }
  &-div3 {
    background: #ffc46b;
  }
  &-div4 {
    background: #ff6bcd;
  }
}

.editor__container-comunidade {
  margin-bottom: 0;
}

.card {
  &__interact {
    display: none;
    justify-content: space-between;
    margin-top: 2rem;
  }

  &__stats {
    display: flex;
  }

  &__stat {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    padding: 0.8rem;

    &:hover {
      border-radius: 16px;
      background: rgba(255, 255, 255, 0.08);
    }
  }

  &__icon {
    margin-right: 0.8rem;
    font-size: 2rem;

    &-heart:active {
      color: #f65151;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    padding: 0.8rem;

    &:hover,
    &:active {
      border-radius: 16px;
      background: rgba(255, 255, 255, 0.08);
    }

    &-name {
      font-size: $font-size-default;
      font-weight: 400;
      margin-left: 1rem;
    }
  }
}

@media only screen and (max-width: $bp-laptop) {
  .comunidade {
    &__card-title {
      font-size: 1.8rem;
    }
  }
}

@media only screen and (max-width: $bp-tablet) {
  .comunidade {
    width: 100%;

    &__content {
      margin-top: 5rem;
    }

    &__card {
      width: 100%;

      margin-bottom: 3rem;

      &:last-child {
        margin-bottom: 0;
      }

      &-title {
        font-size: $font-size-card-title;
      }
    }
  }

  .card__interact {
    display: flex;
  }
}

@media only screen and (max-width: $bp-mobile) {
  .editor {
    &__container {
      padding: 2rem;
    }

    &__buttons {
      top: 3rem;
      left: 3rem;
    }
  }
}
