$darkred: darkred;
$color-primary: #051d3b;
$color-secondary: #6bd1ff;
$color-tertiary: #5081fb;
$color-text: #fff;
$color-input-bg: rgba(255, 255, 255, 0.16);
$color-input-bg-hover: rgba(255, 255, 255, 0.24);

$font-size-default: 1.6rem;
$font-family: 'Inter', sans-serif;
$font-size-code: 1.4rem;
$font-family-code: 'Roboto mono', monospace;
