$color-primary: #051d3b;
$color-secondary: #6bd1ff;
$color-tertiary: #5081fb;
$color-text: #fff;
$color-text-greyish: rgba(255, 255, 255, 0.64);
$color-input-bg: rgba(255, 255, 255, 0.16);
$color-input-bg-hover: rgba(255, 255, 255, 0.24);
$color-card-description: rgba(255, 255, 255, 0.8);
$color-card-info-background: rgba(0, 0, 0, 0.16);

$color-btn-light-hover: #7ba4fc;
$border-btn-light-pressed: 4px solid rgba(80, 129, 251, 0.72);
$border-btn-dark-pressed: 4px solid rgba(80, 129, 251, 0.24);

$color-icon-btn-pressed: rgba(80, 129, 251, 0.16);
$color-icon-btn-hover: rgba(80, 129, 251, 0.08);

$color-btn-dark-focus: rgba(80, 129, 251, 0.24);
$color-btn-dark-active-hover: rgba(80, 129, 251, 0.16);

$color-btn-light-focus: #96b9fd;

$font-size-default: 1.6rem;
$font-family: 'Inter', sans-serif;
$font-size-code: 1.4rem;
$font-family-code: 'Roboto mono', monospace;
$font-size-card-title: 2.1rem;

// RESPONSIVE BREAKPOINTS
$bp-laptop: 64em; // 1024px
$bp-tablet: 48em; // 768px
$bp-mobile: 37.5em; // 600px
