@use 'abstracts' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    width: 20%;
  }

  &__user {
    width: 20%;
  }

  .logo {
    height: 3.4rem;
    width: 14.5rem;
  }

  &__form {
    margin: 0 3rem;
    width: 60%;
  }

  .search {
    color: $color-text;
    font-size: $font-size-default;
    height: 5.6rem;
    width: 100%;

    padding: 2rem;
    background: $color-input-bg;
    border-radius: 8px;
    border: none;
    outline: none;
    transition: all 0.2s ease;

    &:hover,
    &:focus {
      background: $color-input-bg-hover;
    }
  }

  &__search-responsive {
    display: none;
  }

  .user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 2rem;
    margin-left: auto;
    max-width: 14.5rem;

    &-name {
      color: $color-text;
      font-size: $font-size-default;
      font-weight: lighter;
      margin-left: 1rem;
    }

    &:hover {
      background: rgba(#fff, 0.08);
      border-radius: 8px;
      cursor: pointer;
    }
  }

  &__burger {
    display: none;
    justify-content: center;
    align-items: center;
    width: 10%;

    &-icon {
      padding: 1.5rem;

      &:active {
        background: $color-icon-btn-pressed;
        border-radius: 16px;
      }
    }
  }
}

.burger {
  background: #fff;
  height: 3px;
  position: relative;
  width: 2rem;

  &::before,
  &::after {
    content: '';
    background: #fff;
    height: 3px;
    position: absolute;
    width: 2rem;
  }

  &::before {
    top: -7px;
    right: 0;
  }

  &::after {
    top: 7px;
    right: 0;
  }
}

@media only screen and (max-width: $bp-tablet) {
  .header {
    &__user {
      display: none;
    }

    .logo {
      width: 100%;
    }

    &__burger {
      display: flex;
    }
  }
}

@media only screen and (max-width: $bp-mobile) {
  .header {
    &__form {
      display: none;
    }

    .logo {
      width: 14.2rem;
    }

    &__search-responsive {
      display: flex;
      justify-content: flex-end;
      height: 100%;
      width: 60%;
    }
  }
}
