@use 'abstracts' as *;

.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 20%;

  & > *:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: lighter;
  }

  &__item {
    display: flex;
    align-items: center;
    color: $color-text;
    text-decoration: none;

    &-name {
      font-size: 1.6rem;
      opacity: 0.56;
    }

    &:hover &-name {
      opacity: 0.8;
    }

    &:hover .menu__icon {
      background: rgba($color-tertiary, 0.64);
    }
  }

  &__icon {
    background: $color-tertiary;
    border-radius: 1.6rem;
    margin-right: 1rem;
    padding: 1.2rem;
    opacity: 0.16;
  }
}

.active > * {
  opacity: 1;
}

/* Animation for dropdown menu and search bar */

@keyframes menuIn {
  0% {
    opacity: 0;
    transform: translateX(40%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes menuOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(40%);
  }
}

@media only screen and (max-width: $bp-tablet) {
  .menu {
    display: none;
    opacity: 0;
    width: 100%;
    align-items: flex-end;
    margin-bottom: 4rem;

    &__item {
      width: 188.28px;
    }

    &__icon {
      margin-left: 1rem;
    }
  }

  .show-menu-mobile {
    display: flex;
    opacity: 1;
    animation: menuIn 0.5s ease-in-out;
  }

  .hide-menu-mobile {
    display: flex;
    opacity: 0;
    animation: menuOut 0.5s ease-in-out;
  }
}
