@use 'abstracts' as *;

.project {
  display: flex;
  flex-direction: column;
  width: 20%;

  &__info {
    margin-bottom: 4rem;
  }

  &__info > *:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__info,
  &__settings {
    display: flex;
    flex-direction: column;
  }

  &__info h3,
  &__settings h3 {
    font-size: 1.2rem;
    font-weight: lighter;
    text-transform: uppercase;
  }

  &__select {
    background: $color-input-bg;
    border: none;
    border-radius: 8px;
    color: $color-text-greyish;
    font-size: $font-size-default;
    font-family: $font-family;
    height: 5.6rem;
    outline: none;
    padding: 1rem;

    &:hover {
      background: $color-input-bg-hover;
    }
  }

  &__select-group {
    position: relative;
  }

  &__select-button {
    color: $color-text-greyish;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-input-bg;
    border: none;
    border-radius: 8px;
    font-family: $font-family;
    font-size: $font-size-default;
    padding: 1rem 1.5rem;
    height: 5.6rem;
    width: 100%;

    &:hover {
      background: $color-input-bg-hover;
    }
  }

  &__select-arrow {
    border: solid $color-text-greyish;
    border-width: 0 2px 2px 0;
    padding: 4px;
    transform: rotate(45deg);
  }

  &__dropdown {
    border: 2px solid #5875b4;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
  }

  &__option {
    background-color: rgba($color-primary, 0.8);
    border: none;
    outline: none;
    padding: 1rem;

    &:hover {
      background-color: $color-primary;
    }
  }

  &__radio-option {
    display: none;
  }

  &__select-item {
    background: #5875b4;
    color: $color-text-greyish;
    font-size: $font-size-default;
    padding: 1rem;

    &:hover {
      background: lightskyblue;

      &:first-of-type {
        border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.8rem;
      }

      &:last-of-type {
        border-bottom-left-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
      }
    }
  }

  &__settings {
    & > *:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }

  &__customize {
    display: flex;
    flex-direction: column;

    & > *:first-child {
      margin-bottom: 2.5rem;
    }
  }

  &__description {
    height: 100%;
    resize: none;
  }

  &__color-picker {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 8px;
    height: 5.6rem;
    padding: 0.3rem 0.4rem;
    width: 100%;

    &::-webkit-color-swatch {
      border-radius: 4px;
    }
  }
}

#button {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

@media only screen and (max-width: $bp-tablet) {
  .project {
    margin-top: 5rem;
    width: 100%;

    &__customize {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      & > *:first-child {
        margin-bottom: 0;
      }
    }

    &__select,
    &__color-picker {
      width: calc((100% / 2) - 1%);
    }

    &__select-group {
      width: calc((100% / 2) - 1%);
    }
  }
}

@media only screen and (max-width: $bp-mobile) {
  .project {
    &__customize {
      flex-direction: column;

      & > *:first-child {
        margin-bottom: 2.5rem;
      }
    }

    &__select-group {
      width: 100%;
    }

    &__settings .project__customize {
      margin-bottom: 3.5rem;
    }

    &__select,
    &__color-picker {
      width: 100%;
    }
  }
}
